.home-button{
   background: white;
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px;
   margin : 1px;
   border-radius: 50%;
    
}
.home-button:hover {
    cursor: pointer;
}

.home-btn {
    background: white;
}